

:root {
    --primary: #3f51b5;
    --primary-hover:  #303f9f;
    --primary-focus:  #283593;
    --primary-inverse:  #c5cae9;
    --glow-rgb: 239, 42, 201;
}

body {
    font-family: Arial, sans-serif;
    /*background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153));*/
}

#books-container {
    margin-top: 20px;
}

.book-item {
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
}
.book-item img {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.view-cart-btn {
    display: block;
    width: max-content;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect */
.view-cart-btn:hover {
    background-color: var(--primary-hover);
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
}